/* 7brau_main_main_pc_1340.css */


/* - design 기준 : 960px =============================*/
  @media screen and (min-width:1340px) and (max-width:1919px) {
   
/* wrap */
#wrap {width:100%; height:auto; background-color: rgb(233, 229, 229);}



/* headBox */
#headBox {position:fixed; top:0; left:0; right:0; margin:auto; z-index:1000; width: 100%; height: 100px; 
          padding:0 20px; box-sizing:border-box; background-color: rgb(238, 225, 45);}
  
  h1 {float:left; margin-top:15px; width: 190px; height: 65px; background-color:#faf}
 
 .gnb {float:right; margin-right:55px; margin-bottom:200px; width:680px; height: 100px;} 
 .gnb > ul {width: 100%; height: 100%;}
 .gnb > ul > li {float:left; width: 100px; height: 30px; text-align:center; line-height:100px; font-size:14px; background-color: rgb(238,225,45);}

    .Category {float:right; width: 80px; height: 100px;}
    .Category > i {width: 75px; height: 50px; font-size:25px; text-align:center; line-height:100px;}


    

/* contentBox */
#contentBox {padding-top:5px; width: 100%; height:auto;}

#viewBox {position:relative; margin:auto; padding:95px; box-sizing:border-box; width: 100%; height: 625px; background-color: #fff;}

/* 이미지 ======================================= */

.view_area {width:940px; height: 500px;
background-image:url("../img/image01_s.jpg");
background-repeat: no-repeat; 
background-position:50% 50%;
background-size:100% auto;}

#contentBox > div {overflow:hidden; overflow-y:auto; border-bottom:4px solid #fff;}
#contentBox > div > h3 {width: 100%; height: 70px; background-color: rgba(255,100,0,0.3);}
#contentBox > div > ul {width: 100%; padding-left:1rem; box-sizing:border-box;}
#contentBox > div > ul > li{list-style:decimal; height: 50px; margin-bottom:20px; background-color: rgba(255,255,255,0.3);}

/* 이미지 ======================================= */

  
  .view_area {margin:auto; margin-top:30px; width:940px; height: 500px; background-color: rgb(128, 127, 127);}
  .left_nav {position:absolute; top:100px; bottom:0; left:60px; margin:auto; width: 70px; height: 75px; background-color: rgb(235, 219, 5);}
  .right_nav {position:absolute; top:100px; bottom:0; right:60px; margin:auto; width: 70px; height: 75px; background-color: rgb(235, 219, 5);}
  

/* .brand_area {position:relative; width: 225px; height: 70px; background-color: #2ff;}
.brand_area > li {width:130px; height: 70px; text-align: center; line-height:70px; font-size:14px;}
.brand_area > .more_button_02 {float:right; width: 80px; height: 50px; background-color:#f6f;} */

#beerBox{position:relative; width: 100%; height:1090px; background-color: #fff;}
.zip {margin:auto; width: 940px; height: 1090px;}
.beer {float:right; margin-top:36px;  width:600px; height: 300px; }
 .india {background-color: rgb(233, 4, 4);}
 .gangseo {background-color: rgb(255, 168, 6);}
 .jeolla {background-color: rgba(1, 255, 44, 0.582);}
    .india_intro {float:right; margin-right:440px; margin-top:95px; width: 500px; height: 105px; 
      background-color: rgb(206, 93, 93);} 
    .gangseo_intro {float:right; margin-right:440px; margin-top:95px; width: 500px; height: 105px; 
      background-color: rgb(202, 147, 63);}
    .jeolla_intro {float:right; margin-right:440px; margin-top:95px; width: 500px; height: 105px; 
      background-color: rgb(128, 214, 78); }



/* footBox */
#footBox {width:100%; height: 200px; background-color: rgb(235, 219, 5);}


/* 상단으로 이동 */
.top_button {position:fixed; right:5%; bottom:5%; z-index:500;
             width: 3vw; height: 3vw; border: 3px solid #555; box-sizing:border-box;
             background-color: rgb(236, 11, 11);}
.top_button > a {display:block; width: 100%; height: 100%; }
/* 상단으로 이동  */
   
  