/* 7brau_main_tablet_768.css */

/* - design 기준 : 768px =============================*/
@media screen and (min-width:768px) and (max-width:1339px) {
    
    #headBox {position: relative; margin:auto; width:480px; width: 100vw; height: 30px; 
              background-color: rgb(238, 225, 45);}
      h1 {position:absolute; right:0; left:0; margin:auto; margin-top:5px; width: 50px; height: 20px;
        background-image: url("../img/main_logo.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100% auto;}
    
    .gnb > ul {display:none;}
    
    .gnb > .Category {width: 20px; width:6vw; height: 30px;}
    .gnb > .Category > i {font-size:20px; line-height:30px;}
    /* headBox ================================================================== */
    
    
    #contentBox {width: 100%; height:auto;}
    
    #viewBox {position:relative; margin:auto; width: 100%; height: 380px; background-color: #faf;}
     .view_area{width:100%; height: 250px; background-color: #aff;}
     .left_nav {position: absolute; top:0; bottom:20px; left:30px; margin:auto; width: 20px; height: 26px;}
     .left_nav > i {font-size:35px; text-align:center; line-height:26px; color:#fff;}
     
     .right_nav {position: absolute; top:0; bottom:20px; right:30px; margin:auto; width: 20px; height: 26px;}
     .right_nav > i {font-size:35px; text-align:center; line-height:26px; color:#fff;}
     /* 이미지 ============================================= */
     .view_area {width: 100%; height: 380px;
    background-image: url("../img/view_area.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;}
    /* 이미지 ============================================= */
    
    .brand_area {margin:auto; margin-top:15px; width:80%; height: 30px;}
    h4 {position:absolute; float:left; width: 50px; height: 20px; font-size:30px;}
    .Rbox {float:right; margin-top:10px; width: 100px; height: 25px; border-radius:20px; 
           line-height: 25px; border:1px solid rgb(182, 182, 182);}
    .more_button_02 {width:80px; height: 20px; margin-left:10px;}
    .more_button_02 > i {float:right; width: 10%; height: 20px;
                     text-align:center; line-height:20px;}
    
    
    #beerBox {margin:auto; margin-top:30px; width: 80%; height: 480px; 
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: 100% auto;}
      .india {float:left; width: 280px; height: 180px; margin-top:30px;}
        .india > img {width: 100%; height:auto;}
    
      .gangseo {float:right; width: 280px; height: 180px; margin-top:30px;}
        .gangseo > img {width: 100%; height:auto;}
      
      .jeolla {float:left; width: 280px; height: 180px; margin-top:60px;}
       .jeolla > img {width: 100%; height:auto;}

      .hangang {float:right; width: 280px; height: 180px; margin-top:60px;}
       .hangang > img {width: 100%; height:auto;}
    
        .india_intro {width: 280px; height: 50px; margin-top:-20px; font-size:14px; text-align: left; line-height:50px;}
        .gangseo_intro {width: 280px; height: 50px; margin-top:-20px; font-size:14px; text-align: left; line-height:50px;}
        .jeolla_intro {width: 280px; height: 50px; margin-top:-20px; font-size:14px; text-align: left; line-height:50px;}
        .hangang_intro {width: 280px; height: 50px; margin-top:-20px; font-size:14px; text-align: left; line-height:50px;}
    
    /* footBox ====================================================================== */
    #footBox {position:relative; width: 100%; height: 70px; background-color:rgb(238, 225, 45);}
    
    .foot_font_area {font-size:10px; text-align: center; line-height:23px; width:100%; height: 50px;}
    ul {position: absolute; left:50%; margin-left:-33%;}
    li {float:left; margin-left:50px;}
    
    