
/* wrap */
#wrap {width:100%; height:auto; background-color: rgb(233, 229, 229);}



/* headBox */
#headBox {position:fixed; top:0; left:0; right:0; margin:auto; z-index:1000; width: 100%; height: 100px; 
          padding:0 20px; box-sizing:border-box; background-color: rgb(238, 225, 45);}
  
  h1 {float:left; margin-top:15px; width: 190px; height: 65px;}
 
 .gnb {float:right; margin-right:55px; margin-bottom:200px; width:680px; height: 100px;} 
 .gnb > ul {width: 100%; height: 100%;}
 .gnb > ul > li {float:left; width: 100px; height: 30px; text-align:center; line-height:100px;                             font-size:14px; background-color: rgb(247, 244, 210);}

    .Category {float:right; width: 80px; height: 100px;}
    .Category > i {width: 75px; height: 50px; font-size:25px; text-align:center; line-height:100px;}


    

/* contentBox */





/* footBox */
#footBox {width: 100%; height: 70px; height:9vw; background-color:rgb(238, 225, 45);}



/* 상단으로 이동 */
.top_button {position:fixed; right:5%; bottom:5%; z-index:500;
             width: 3vw; height: 3vw; background-color: rgb(236, 11, 11);}
.top_button > a {display:block; width: 100%; height: 100%; }
.top_button > a > i {box-sizing:border-box; width: 100%; height: 100%;}
/* 상단으로 이동  */